body{
    background-color: bisque;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

#box{
    color: blue;
    width: 100px;
    height: 100px;
    margin:10px;
}


.game{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.Player{
    background-color: red;   
    width: 200px;
    height: 100px;
    margin: 10px;
    display: flexbox;
    justify-content: space-around
}
#reset{
    width: 150px;
    height: 50px;
}
#playBtn{
    width: 150px;
    height: 50px;
}

.comp{
    background-color: lawngreen;
    width: 200px;
    height: 100px;
    margin:10px;
    display: flexbox;
    justify-content: space-around;
}